[2015-12-26 13:55] Rolograaf opened #1 "feature request comment-hack at the top?"
First: I just stumbled on this and fully satisfies my neatly needs, thanks!

But I used a hack from:
http://stackoverflow.com/questions/14221579/how-do-i-add-comments-to-package-json-for-npm-install#14221781
to make a little comment in my package.json (some dependency does not yet work in Windows, but they are working on it)
It would be nice to see the "//": "comment" above all others when it is u

[2015-12-26 21:46] keithamus commented on #1
Hey @Rolograaf thanks for the issue! Please, feel free to make a PR against this project and I'll happily merge it :smile:

[2017-03-30 12:31] agirorn opened #11 "feature request: don't change already sorted package.json"
When running sort-package-json twice should only update the file once. Then I can run this everytime the package.json file changes and that way keep the package.json file forever sorted. What happens now is that running sort-package-json saves a new file every time and triggers the watchers to rerun the task that is watching package.json.

[2017-03-30 12:38] agirorn opened #12 "Can't install node modules"
When I have cloned this repo and run npm install I get this error

[code]

[2017-03-30 14:13] keithamus commented on #12
It's definitely there: https://www.npmjs.com/package/@semantic-release/commit-analyzer. Is it possible you're running an npm proxy, for example synopia or nexus? Many of these have difficulty with scoped packages.

[2017-03-30 14:15] keithamus commented on #11
Great idea! Would you like to make a PR for this?

[2017-03-30 14:17] MiniGod opened #13 "Sorting right after npm init"
Is there any particular reason for the order of which the keys are sorted?

For instance, why isn't a `package.json` that comes out of `npm init` considered sorted?

[code]

[2017-03-30 14:20] keithamus commented on #13
No particular reason, other than trying to put the most relevant info for users of the package upfront. `license` is very relevant to the user and so should go to the top of the file ("above the fold" if you will), as is author.

[2017-03-30 15:28] MiniGod commented on #13
That makes sense. Shouldn't then `engines` be "above the fold" as well?

[2017-03-30 15:29] MiniGod commented on #13
I don't mean to question every key here.
You've answered my question so you can close this whenever you'd like.

[2017-03-30 15:37] keithamus commented on #13
`engines` is probably worth being above the fold too, yes.

As [the readme says](https://github.com/keithamus/sort-package-json#how-does-it-sort) initially it sets the order to [how the docs are ordered](https://docs.npmjs.com/files/package.json). If you feel strongly about changing the order for a particular reason, I would welcome PRs 😄

[2017-03-30 15:37] #13 closed

[2017-04-04 13:38] agirorn commented on #12
Yes, I am using synopia. I'll give it another go.

[2017-04-04 13:40] #12 closed

[2017-04-04 13:46] agirorn commented on #11
sure.

[2017-04-04 14:02] agirorn commented on #11
feat: only sort unsorted package.json file #14

[2017-04-04 20:47] #11 closed

[2017-04-04 20:48] keithamus commented on #11
Should be `1.6.0` https://travis-ci.org/keithamus/sort-package-json/builds/218626314

[2017-08-30 11:00] mriehema opened #17 "move 'private' to top"
As in the most package.json files, 'private' is an important information, which should be below name/version. Could you change this? Do you want an pull-request for this change?

[2017-08-30 11:22] keithamus commented on #17
Sure, feel free to raise a PR for this 😄

[2017-08-30 15:21] #17 closed

[2017-08-30 15:38] mriehema commented on #17
Awesome, thx.

[2017-08-30 15:46] keithamus commented on #17
`1.7.1` btw 😄 https://www.npmjs.com/package/sort-package-json

[2017-12-11 14:14] reggi opened #19 "Package Scripts Order"
In my "scripts" I am seeing this order:

[code]

Why isn't this alphabetical?

[2017-12-11 17:16] keithamus commented on #19
Hey @reggi thanks for the issue.

`post*` and `pre*` scripts have specific meaning for `package.json` - `posttest` in this case will run after `test` automatically. Because of this, it felt more intuitive to sort these not by alphabetical order, but to specifically order `pre*` scripts before `*` and `post*` scripts after `*`.

I'll close this because I think we're doing the right thing here. If y

[2017-12-11 17:16] #19 closed

[2017-12-12 14:45] reggi opened #20 "feature request: group git hooks together"
Here's a list of git hooks that can be applied to the npm scripts. Thoughts?

https://github.com/typicode/husky/blob/HEAD/HOOKS.md

[2017-12-12 14:52] keithamus commented on #20
Seems totally reasonable to group these together! Happy to see a PR that adds this feature 😄

[2018-03-15 19:04] reggi opened #29 "optionalDependencies before devDependencies"
Theres a weird issue where npm install / shrinkwrap will have issues with `fsevents` if `optionalDependencies` is at the end.

https://medium.com/ai2-blog/dockerizing-a-react-application-3563688a2378

[2018-03-15 19:11] #29 closed

[2018-03-29 01:23] jdcrensh opened #30 "Support additional keys"
Some commonly used keys are missing from the predetermined sorting, and end up getting placed at the bottom of the package.json. Here are a few found in some of the repos I work with:

Somewhere before `scripts`(?):
* `workspaces` (yarn)

Between `scripts` and `dependencies`:
* `proxy` (create-react-app)
* `nodemonConfig`
* `lint-staged`

Side note: Perhaps anything not listed in the predetermined

[2018-04-03 10:02] keithamus commented on #30
Thanks for the issue @jdcrensh

Im happy to add any number of keys inbetween `scripts` and `dependencies` - including the 4 you mention; but regarding your side note- I'd like to avoid moving _any_ keys above dependencies. Specifically for a few projects I'm working on we have config keys that are very large and I'd like to leave them _below_ dependencies.

PRs welcome for any keys you'd like to s

[2018-04-11 11:54] keithamus commented on #30
I am very much against this tool having any kind of config at all. I'm more than happy to continue to accept more PRs that add keys (ad infinitum) but I will not accept a PR that introduces configuration. It should be portable and reliable to the point that if I run `npx sort-package-json` on _any_ folder, I can predict the result without looking at files other than package.json

[2018-04-12 01:30] raphinesse commented on #30
@keithamus That's a pity. I get your point. However, I don't believe there's a sensible ordering to rule them all.

Would the ability to opt in/out of config usage with a command line switch change anything for you?

[2018-04-12 10:19] keithamus commented on #30
@raphinesse I dont think so. I'd also like to keep this tool very simple. Think of it like `gofmt`. It just does what it does - you don't get to pick; but thats a good thing because it alleviates you from _any kind of decision_.

Let's keep in mind the intent behind sorting a package.json is to keep it readable - to keep things in predictable places, so I as a developer can move from one package t

[2018-04-19 23:35] G-Rath opened #33 "Maintain indenting level"
NPM respects the indentation level of `package.json`; if you use 4 spaces for indenting, npm will maintain that, rather than reverting it back to 2 spaces everytime it makes a change to the `package.json`.

Currently it seems `sort-package-json` doesn't respect indentation level, and just instead reverts the `package.json` to 2 spaces.

[2018-04-20 20:04] keithamus commented on #33
PRs very welcome 😃

[2018-04-30 09:57] #33 closed

[2018-06-04 19:01] forivall opened #39 "large configs, such as xo should be below dependencies"
Given the comment at https://github.com/keithamus/sort-package-json/issues/30#issuecomment-378197067 , I'm curious about why xo was placed above dependencies, given that I have a very large xo config (> 100 lines. I'm not proud of it, but that's besides the point).

In particular, the block of
[code]

seem like they are all configs that can become very long, and should always be below the dependen

[2018-06-05 18:16] keithamus commented on #39
Thanks for the issue @forivall.

I mostly added these blocks above dependencies because they are more often hand-edited than the `dependencies`/`devDependencies` fields, and so having them closer to the top means less navigating within the file to edit them.

I am not massively concerned either way. Perhaps itd be good to hear what others think?

[2018-06-07 22:30] forivall commented on #39
Yeah, my preference in general is that all of the "official" and generic entries should be above sections that are specific to a third party tool, and aren't related to the core parts of a package.json. Like, it makes sense to put `betterScripts` right next to scripts, but linter and test config aren't really core.

It definitely is a fuzzy classification system though.

[2018-06-08 02:55] forivall commented on #39
Yeah, my preference in general is that all of the "official" and generic entries should be above sections that are specific to a third party tool, and aren't related to the core parts of a package.json. Like, it makes sense to put `betterScripts` right next to scripts, but linter and test config aren't really core.

It definitely is a fuzzy classification system though.

[2018-06-08 12:53] keithamus commented on #39
my intuition was that it made sense to put these configs next to scripts also - as script invocation can imply parts of the config.

Let's get others involved here, @raphinesse and @jdcrensh may have opinions on this, as well as past contributors like perhaps @bluelovers @selbekk or @simonkberg

[2018-06-08 13:46] simonkberg commented on #39
Thanks for the ping. Personally I prefer the ordering as it is today, for the same reasons you already brought up:

and

Other than that, always having the dependencies defined at the end also means it's easier to navigate _to_ them when needed, instead of trying to find them somewhere in the middle of the file.

[2018-06-08 15:16] bluelovers commented on #39
i will like put they low then dependencies & resolutions

[2018-06-08 21:53] jdcrensh commented on #39
I'm of the mind to put all config keys between scripts and dependencies. My reasoning is that dependencies should **always** appear at the bottom, which is consistent with nearly all projects I've worked with. It's not that hard to scroll to the end of the file.

[2018-06-29 11:12] raphinesse commented on #39
I put the `xo` key next to similar keys. There's nothing more to it. With >100 Lines config, I would probably prefer to have a separate config file though :sweat_smile:

There's not one size that fits all here. Given that config is out of the picture (https://github.com/keithamus/sort-package-json/issues/30#issuecomment-380425399), I would put everything non-standard at the end. Alphabetically sor

[2018-06-29 11:18] keithamus commented on #39
So it seems as though we have the following:

 - @forivall, @bluelovers, @raphinesse would vote for these keys below dependencies
 - myself, @simonkberg, @jdcrensh would vote for these keys between scripts and dependencies

I'm not the greatest at maths, but that looks like a tie to me. Nothing so far said has convinced me to move the keys below dependencies, although @jdcrensh's comments about co

[2018-06-29 11:36] bluelovers commented on #39
oh make this as option let user choose it?

[2018-10-04 19:57] unional opened #40 "List supported libraries in README"
It would be nice to list the libraries (browserify, eslint, jest, etc) in the README. 🌷

[2018-10-04 20:02] keithamus commented on #40
Yes this would be awesome! PRs welcome!

[2018-10-04 23:01] #40 closed

[2018-10-05 10:34] jogold opened #42 "Export sort order to use with npm-package-json-lint"
Hi,

It would be great if the sort order of the keys was exported. This way it could be used with `npm-package-json-lint` for the rule `prefer-property-order` (https://github.com/tclindner/npm-package-json-lint/wiki/prefer-property-order)

[2018-10-08 18:15] jogold commented on #42
Hi @keithamus, are you planning to publish this soon to npm?

Thanks!

[2018-10-09 14:33] keithamus commented on #42
@jogold this should be published, right?

[2018-10-09 14:43] jogold commented on #42
@keithamus no it's not:
![image](https://user-images.githubusercontent.com/12623249/46677211-758ca880-cbe2-11e8-8ae6-a3985b920903.png)

[2018-10-10 00:35] unional commented on #30
Just adding my two cents. There might be cases where it really does not have a sensible way to order keys in a certain order.
One example is when the same key is used in two different contexts.

e.g. for one tool, it has:

[code]
while another tool has:
[code]

In the order, we can enforce it as:

[code]

But once the alphabetic nature of this break (to make it more readable), this would break.

A

[2018-10-10 00:38] unional opened #45 "Add support for VSCode extension project properties"
It uses the following:

[code]

Should they go before or after `dependencies`?
Should they go before or after `engines`?

I will open a PR once these are decided. 🌷

[2018-10-15 08:06] jogold commented on #42
@keithamus sorry to insist but it's still not published on npm.

Thanks in advance.

[2018-10-15 16:48] keithamus commented on #42
@jogold thanks for reminding me. I've been on vacation for the last week, I'll get this published now.

[2018-10-15 16:52] keithamus commented on #42
`1.16.0` is published

[2018-10-15 16:52] #42 closed

[2018-10-15 16:54] keithamus commented on #45
I'm happy to see this go after `dependencies` but ultimately I'll be happy with whatever you think is sensible.

[2018-10-20 17:30] greenkeeper[bot] opened #46 "An in-range update of semantic-release is breaking the build 🚨"
## The devDependency [semantic-release](https://github.com/semantic-release/semantic-release) was updated from `15.10.4` to `15.10.5`.

🚨 [View failing branch](https://github.com/keithamus/sort-package-json/compare/master...keithamus:greenkeeper%2Fsemantic-release-15.10.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

s

[2018-10-25 07:03] muuvmuuv commented on #45
I use it that way: https://hastebin.com/gazulivebo.json. Would be great to have this autoformatted!

[2018-10-25 07:04] muuvmuuv commented on #20
@reggi link no longer working and you going to take on this?

[2018-10-25 07:12] muuvmuuv opened #47 "Add config file"
Wouldn't it be great to have a config stored in the `~/.config/sortpackagerc.json` where users can add additional configuration like there own order? More likely because some things are not supported yet and placed at the bottom we could let the user set his own priority so it is in his satisfaction. After we publish a official support for a key he set manually we could notify him to delete it or

[2018-10-25 10:16] muuvmuuv opened #48 "Show diff after sorting"
Would be nice to show the difference between the original and the formatted package.json.

https://www.npmjs.com/package/diff

[2018-10-25 12:32] keithamus commented on #47
Thanks for the issue @muuvmuuv

There's been some discussion about this in other issues. See for example #30, and https://github.com/keithamus/sort-package-json/issues/39#issuecomment-401353234

I'm going to close this because I _dont_ think it would be great to have this tool be configurable. If you disagree, I encourage you to fork this package, I'm also happy to make any code changes here that

[2018-10-25 12:32] #47 closed

[2018-11-09 07:13] reggi commented on #20
@muuvmuuv unable to work on this

[2018-11-10 16:07] waldyrious commented on #19
For future reference, this behavior has changed slightly in #49: now, the "pre" and "post" prefixes will only be treated specially if they're not followed by a `-` character (e.g. `pre-foo` won't be sorted at the start, while `prefoo` will).

[2019-02-03 22:19] amilajack opened #56 "idea: sort packages by npm documentation order and then custom properties"
The [npm documentation for package.json fields](https://docs.npmjs.com/files/package.json) seems to list the properties of the package.json from most used to least used. I makes sense to me that we should sort by using the same order that the properties are listed in in the docs and then append custom properties (`jest`, '`eslintConfig', etc). Thoughts?

[2019-02-04 09:07] keithamus commented on #56
This is mostly the case, the caveat being that custom properties for configs are listed above dependencies, because dependencies can get quite large so we don't want to have too much scrolling happening. I also quite like the side effect that dependencies are sorted to almost at the bottom of a package.json so I can just scroll to the bottom of the file and find the dependencies.

I'll close this

[2019-02-04 09:07] #56 closed

[2019-03-01 16:47] gillesdandrea commented on #30
I found a quite common list of properties documented at https://github.com/stereobooster/package.json that could be used for additional properties.

[2019-05-06 14:19] kellyselden opened #63 "Add readme note"
I added a sort-package-json rule with an auto fixer to https://github.com/kellyselden/eslint-plugin-json-files/pull/10.

Would you like me to add a link in your README?

[2019-05-07 13:03] artyomsv opened #64 "Sorting other json files"
Hi, I know that this library main purpose to sort package.json file, but I'm using it also to sort other json files in my project. I'm not planing to add another similar dependency and wanted to clarify one thing.

I have this json file:
[code]

and the result of sorting is:

[code]

Is this transformation behavior is correct or is it a bug?

[2019-05-07 13:35] keithamus commented on #63
Cool! Please do send a PR, I'll happily merge 😄

[2019-05-07 13:42] keithamus commented on #64
Yes I'd consider this a bug. I'd happily accept a PR to fix this 😸

[2019-05-25 03:14] anion155 opened #65 "Ignore subkeys from cli"
Would be nice feature if you add ability to ignore some subkeys. I'm using lots scripts dependents on each other, and I want them to be sorted in predefined order like:
[code]

[2019-07-05 11:37] kachkaev opened #67 "--lint / --check mode"
This is a great tool, I'm really glad that I've found it! 🙌

As a maintainer of a monorepo, I would like to use `sort-package-json` in PR pipelines to prevent unsorted `package.json` files from landing the `master` branch. Basically I'd like the tool to become a part of the linting task alongside `eslint`,  `tsc` and `prettier`. Would it be possible to add a new option called `--lint` or `--check`

[2019-07-06 18:54] matzkoh opened #68 "Any scripts are prefixable"
When we run `npm foo` (foo is any name), npm executes `prefoo` `foo` `postfoo` automatically.

So my npm scripts has,

[code]

but actual output of sort-package-json

[code]

It would be nice if sort-package-json handle any scripts as prefixable.

[2019-07-13 17:19] matzkoh commented on #68
Curiously, there is no problem today.
Probably a bug specific to my environment...

[2019-07-13 17:19] #68 closed

[2019-07-19 20:55] dosentmatter commented on #67
If you are up for it, you can just use the [API](https://github.com/keithamus/sort-package-json/blob/de04f882fc88434f4895788e22ed63531a05c053/index.js#L200-L202).

It only overwrites files if you [run it on the CLI](https://github.com/keithamus/sort-package-json/blob/de04f882fc88434f4895788e22ed63531a05c053/index.js#L204-L218).

From reading the code, you can pass either a string or object to `sor

[2019-07-20 10:47] kachkaev commented on #67
I think I found a perfect solution by using [`prettier-plugin-packagejson`](https://github.com/matzkoh/prettier-plugin-packagejson), which works on top of `sort-package-json`.

[code]
Of course, with [Prettier](https://prettier.io/)'s API it is possible to do much more than just checking or formatting package.json. All my source files are always handled by it. `sort-package-json` was a great disco

[2019-08-15 19:22] nelson6e65 opened #70 "Compatible with tslint rules"
```tslint.json```

The `rules` are not sorted alphabetically, only the first level keys. 😢

[2019-08-19 14:28] keithamus commented on #70
Thanks for the issue @nelson6e65, PRs welcome!

[2019-08-19 14:28] #63 closed

[2019-08-19 18:27] nelson6e65 commented on #70
I'll try. Any advise?

[2019-08-20 09:44] keithamus commented on #70
The `sortSubKey` function within this codebase is used to sort the items of a key within the JSON, so adding `sortSubKey('rules')` would work I believe.

[2019-11-07 06:15] tylerbutler opened #71 "Tests are unreliable in Windows"
Windows git users often set `core.autocrlf` to true, so the package.json file may have CRLF line endings. The tests expect this file to have LF line endings.

[2019-11-07 06:36] tylerbutler opened #73 "sort-package-json packages/*/package.json does not work on Windows"
I don't understand why, but `sort-package-json packages/*/package.json` does not work on Windows. I get errors like this:

[code]

I did some debugging, and it _looks_ like fs.readFileSync is behaving differently on Windows than on Linux. I can run the same command in WSL and it works fine. Not sure what's happening.

[2019-11-07 06:37] tylerbutler commented on #73
Meant to add - I've tried various slash and backslash combinations to no effect.

[2019-11-07 10:45] #73 closed

[2019-11-07 10:47] keithamus commented on #63
:tada: This issue has been resolved in version 1.23.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sort-package-json)
- [GitHub release](https://github.com/keithamus/sort-package-json/releases/tag/v1.23.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-07 10:47] keithamus commented on #73
:tada: This issue has been resolved in version 1.23.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sort-package-json)
- [GitHub release](https://github.com/keithamus/sort-package-json/releases/tag/v1.23.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-07 10:49] #71 closed

[2019-11-24 01:59] eankeen opened #76 "enabling sorting of `type` field"
especially since the latest versions of node support the [`type`] field for cool esm interop, i think it would be good to add that sorting for that term. i personally would like to have it above the `main` field, but someone should chime in if they have a better location.

if this is a good idea, i can make a pr

[`type`]: https://nodejs.org/api/esm.html#esm_code_package_json_code_code_type_code_f

[2019-11-25 09:01] keithamus commented on #76
Yes! PR's very much welcome 👌

[2019-11-25 09:11] eankeen commented on #76
@keithamus just made a pr, how does it look?

[2019-11-25 09:30] keithamus commented on #71
:tada: This issue has been resolved in version 1.24.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sort-package-json)
- [GitHub release](https://github.com/keithamus/sort-package-json/releases/tag/v1.24.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-11-25 09:56] keithamus commented on #76
https://github.com/keithamus/sort-package-json/releases/tag/v1.24.0 has been released. Thanks @eankeen!

[2019-11-25 09:56] #76 closed

[2019-11-29 03:34] fisker commented on #67
I was going to open a feature request, but found this issue, I think we should support this, we already has cli, why relay on prettier.

solutions:

1.  default to lint, requires flag to fix, `--fix`(eslint use this flag)  or `--write`(prettier use this flag)

[code]

2. default to fix, requires flag to check `--check`(prettier use this flag) or `--lint`(@kachkaev proposed)

[code]

I can accept a

[2019-11-29 03:46] fisker commented on #64
IMHO: instead of supporting other json file, we should filter files not named `package.json`

[2019-11-29 11:53] keithamus commented on #67
I'd be happy to add a `--check` option 👍

I'd like to avoid serious breaking changes if we can. Making `--fix` opt in is a substantial breaking change.

[2019-12-01 14:23] robatwilliams opened #83 "Opt-out of sorting keywords"
The order of `keywords` is preserved when displayed on npmjs.com.

Packages may wish to order keywords such that related ones are together. For example: what it does, what tech it's for, what tech it uses, other related packages.

[2019-12-01 20:45] RebeccaStevens opened #84 "Sorting of "exports" field"
Conditional Exports:
https://nodejs.org/api/esm.html#esm_conditional_exports

Related to #76

Personally I would like to have this be sorted directly after "main" as it essentially replaces fields like "module", "browser" etc.

[2019-12-02 07:16] atilkan opened #85 "Not a runtime dep"
I will definately not need this package on runtime but dev time. Please correct the installation type.
`npm i -D whatever`

[2019-12-02 09:52] #85 closed

[2019-12-02 09:53] keithamus commented on #84
Sounds like a good idea. PRs welcome!

[2019-12-02 09:54] keithamus commented on #83
You raise a good point. Let's just unilaterally disable the sorting of keywords. PRs welcome!

[2019-12-02 16:23] keithamus commented on #85
:tada: This issue has been resolved in version 1.28.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sort-package-json)
- [GitHub release](https://github.com/keithamus/sort-package-json/releases/tag/v1.28.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-03 04:50] fisker commented on #84
@RebeccaStevens check this comment https://github.com/keithamus/sort-package-json/pull/88#issuecomment-560997003

[2019-12-03 10:14] #84 closed

[2019-12-03 10:16] keithamus commented on #84
:tada: This issue has been resolved in version 1.29.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sort-package-json)
- [GitHub release](https://github.com/keithamus/sort-package-json/releases/tag/v1.29.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-03 10:17] #67 closed

[2019-12-03 10:18] keithamus commented on #67
:tada: This issue has been resolved in version 1.30.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sort-package-json)
- [GitHub release](https://github.com/keithamus/sort-package-json/releases/tag/v1.30.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-08 00:25] #83 closed

[2019-12-10 22:29] greenkeeper[bot] opened #97 "An in-range update of sort-object-keys is breaking the build 🚨"
## The dependency [sort-object-keys](https://github.com/keithamus/sort-object-keys) was updated from `1.1.2` to `1.1.3`.

🚨 [View failing branch](https://github.com/keithamus/sort-package-json/compare/master...keithamus:greenkeeper%2Fsort-object-keys-1.1.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

sort-object-keys

[2019-12-10 22:41] #97 closed

[2019-12-10 22:42] keithamus commented on #83
:tada: This issue has been resolved in version 1.31.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sort-package-json)
- [GitHub release](https://github.com/keithamus/sort-package-json/releases/tag/v1.31.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-18 00:01] matzkoh opened #99 "keywords is not sorted"
on v1.31.0

input

[code]

actual

[code]

expected

[code]

[2019-12-18 00:02] keithamus commented on #99
This is intended. See https://github.com/keithamus/sort-package-json/issues/83:

[2019-12-18 00:02] #99 closed

[2019-12-20 05:30] fisker commented on #65
@keithamus Is this accepted? If so, I'm going to implement.

[2019-12-20 07:28] fanatid opened #105 "People fields"
[people fields](https://docs.npmjs.com/files/package.json#people-fields-author-contributors) include not only `author`, but `contributors` too.

Currently, only author in list:
https://github.com/keithamus/sort-package-json/blob/2108c5ade72463a6786b4408ea1dccbcaa6541fa/index.js#L73

[2019-12-20 08:44] fisker commented on #105
missed on a code refactor, https://github.com/keithamus/sort-package-json/pull/90

[2019-12-28 12:19] #105 closed

[2019-12-28 12:20] keithamus commented on #105
:tada: This issue has been resolved in version 1.32.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sort-package-json)
- [GitHub release](https://github.com/keithamus/sort-package-json/releases/tag/v1.32.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-12-28 12:31] fanatid commented on #105
Thank you!

[2019-12-30 05:51] fisker opened #113 "Support VSCode Manifest?"
ref: https://code.visualstudio.com/api/references/extension-manifest

[2019-12-30 19:49] keithamus commented on #113
Seems simple enough to add the additional keys. 👍 from me

[2019-12-30 20:40] keithamus commented on #65
I stand firm that I'd like the CLI to always produce the same output. We could look to remove sorting of scripts, or make them more intelligent (like detecting and sortting by scripts that reference each other).

Thoughts?

[2020-01-07 11:47] #113 closed

[2020-01-07 11:49] keithamus commented on #113
:tada: This issue has been resolved in version 1.37.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sort-package-json/v/1.37.0)
- [GitHub release](https://github.com/keithamus/sort-package-json/releases/tag/v1.37.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-08 07:51] fisker commented on #20
Can we close this now?

[2020-01-08 11:01] keithamus commented on #30
I'll close this issue, as most of the keys mentioned are now sorted. If you would like more keys to be sorted, please feel free to file a PR or an issue! Thanks!

[2020-01-08 11:01] #30 closed

[2020-01-08 11:04] keithamus commented on #39
I am not sure this will be resolved any time soon. I'll close this for now. If people have opinions on this please feel free to file a new PR or issue! Thanks

[2020-01-08 11:04] #39 closed

[2020-01-08 11:05] #45 closed

[2020-01-08 11:06] keithamus commented on #64
I believe this can be closed now. If this is still a bug please feel free to file a PR or another issue!

[2020-01-08 11:06] #64 closed

[2020-01-09 05:41] sublimator opened #133 "TypeScript definition doesn't play well with strict:true tsconfig settings"

[2020-01-09 10:49] keithamus commented on #133
Hi @sublimator, would you care to provide more information?

If you have a fix in mind, PR's welcome!

[2020-01-09 10:49] keithamus commented on #133
Ahh I see #134 is the PR

[2020-01-09 10:50] #133 closed

[2020-01-09 12:22] fisker commented on #70
We should focus on sorting `package.json`.

[2020-01-09 14:20] keithamus commented on #70
Yes perhaps we can extract a lot of the core functionality here and make a new `sort-tsconfig` package.

[2020-01-11 12:28] RebeccaStevens opened #141 "[Feature Request] sort "peerDependenciesMeta""
Probably best to sort the key so that it directly follows "peerDependencies".

About `peerDependenciesMeta`:
[yarn docs](https://yarnpkg.com/en/docs/package-json#toc-peerdependenciesmeta)
[pnpm docs](https://pnpm.js.org/en/package_json#peerdependenciesmeta)

[2020-01-11 12:56] fisker commented on #141
working on it.

[2020-01-11 22:42] #141 closed

[2020-01-11 22:44] keithamus commented on #141
:tada: This issue has been resolved in version 1.39.0 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/sort-package-json/v/1.39.0)
- [GitHub release](https://github.com/keithamus/sort-package-json/releases/tag/v1.39.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-01-13 20:24] khitrenovich commented on #65
Being able to ignore sorting of scripts would be nice - in many cases they are sorted by some sort of internal logic (which may not be easy or feasible to automate).

[2020-01-14 06:23] anion155 commented on #65
For this we would need to at least support

[2020-01-14 06:24] anion155 commented on #65
Sorry, mispressed ))

[2020-01-14 06:29] anion155 commented on #65
It could be other fields in pkg.json that would need to excluded from sorting, maybe readed by 3-rd party modules. But special logic for `scripts` would be cool.

[2020-01-21 21:35] greenkeeper[bot] opened #149 "An in-range update of husky is breaking the build 🚨"
## The devDependency [husky](https://github.com/typicode/husky) was updated from `4.0.10` to `4.1.0`.

🚨 [View failing branch](https://github.com/keithamus/sort-package-json/compare/master...keithamus:greenkeeper%2Fhusky-4.1.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

husky is a devDependency of this project. It **

[2020-01-28 12:06] niksy commented on #83
Sorry for commenting on closed issue, but is there a possibility to sort keywords alphabetically, or some sort function we can use to modify sorting method just for keywords?

[2020-01-28 12:15] keithamus commented on #83
Hey @niksy! You can create a fork of this repository and change it, perhaps publish it as `sort-package-json-and-keywords`?

[2020-01-28 13:49] niksy commented on #83
@keithamus thanks!

[2020-03-01 07:45] nelson6e65 commented on #70
That would be great!

But... have different tools.... Hmm... Maybe split it in internal modules and detect the "format" automatically from filename or and explicit `--type`.

[2020-03-01 07:46] nelson6e65 commented on #70
Well, tslint becomes deprecated, but still would be nice to sort another `.json` config files with the same base cli.

[2020-03-11 11:54] MrChocolatine opened #163 "CLI - Invalid or unexpected token (on the shebang)"
I don't know if my issue is entirely due to your package but I must start posting it somewhere (and as it is the first package mentioned in my log...)

I am working on EmberJS projects and for approximatively 2 weeks I always get this error from the command-line:

![00](https://user-images.githubusercontent.com/47531779/76413191-e6faf880-638c-11ea-8d1c-a472b562e212.png)

<details>
  <summary>Conte

[2020-03-12 12:10] keithamus commented on #163
@MrChocolatine that seems frustrating. I don't know what `ember` does with your `node_modules` folder but I think it's worth filing with them.

I'm not sure what we can really do within this package; the shebang line needs to be there so the CLI works, so we can't really change our code to fit Ember. I'll close this because I don't really see an actionable path forward.

[2020-03-12 12:10] #163 closed

[2020-03-12 12:24] MrChocolatine commented on #163
I didn't mean to "fit Ember" but maybe the concatenation or whatever could possibly be faulty. I am still investigating what is wrong (and again, I am was not convinced your package was the guilty one).

[2020-03-12 12:31] keithamus commented on #163
It's strange because the only file with the shebang is our `cli.js` - which is only referenced as a `bin`, not the `main` key or anything, so `require('sort-package-json')` should work absolutely fine. Definitely some tool is traversing `node_modules` in a non-standard way.

[2020-03-12 12:32] keithamus commented on #163
Ahh - also it looks like you're using an outdated version of `sort-package-json` which _used_ to have `index.js` stand as both CLI and Library. If you update it might fix the problem.

[2020-03-12 18:14] MrChocolatine commented on #163
I tried to clear and rebuild all my dependencies and everything seems to be back to normal now...
1. `rm yarn.lock`
2. `rm -rf node_modules tmp dist`
3. `yarn cache clean`
4. `yarn install`

What I still don't understand is that I simply rebuilt everything, I still have `sort-package-json@^1.22.1` in my `yarn.lock`, but now it works... Quite strange 🤔 .

[2020-03-12 18:14] MrChocolatine commented on #163
Thank you very much for your time @keithamus.

[2020-03-24 09:35] remcohaszing opened #166 "Files are not sorted"
The top level `files` array is filteres by uniqueness. I think this can also be sorted alphabetically.

[2020-03-24 14:23] keithamus commented on #166
Hey @remcohaszing thanks for the issue!

Currently it's not sorted alphabetically because there's value to the order of files. For (a contrived) example one might want to have `index.js` at the top of the list, while `extensions.js` appears below that.

[2020-03-24 15:11] remcohaszing commented on #166
Thanks for your awesome package! :smile:

Probably a better example of why the order of files matters is negated globs. I didn’t think of this before.

[code]

[2020-03-24 15:11] #166 closed

[2020-03-27 10:22] dandv opened #168 "How to sort package.json variable before `scripts`?"
I'm using a [package.json variable](https://stackoverflow.com/questions/43705195/how-can-i-use-variables-in-package-json) called nodeParams to pass the same parameters to node when calling scripts:

[code]

Since `nodeParams` is being used by `scripts`, it makes sense to have it sorted before `scripts`. Any idea how to do that? Right now it gets sorted at the very end. I tried nested he variable u

[2020-03-27 20:11] keithamus commented on #168
Hey @dandv thanks for the issue! All keys for sorting are hard coded in this package, so you’ll need to raise a PR to add the `nodeParams` key!

[2020-03-27 20:27] fisker commented on #168
@keithamus You might misunderstood, this field is not a standard field, could be anything.

[2020-03-27 20:33] keithamus commented on #168
Oh yeah I see!

What should we do? Sort misc keys above scripts?

[2020-03-27 20:43] fisker commented on #168
I'll say, you have to use api in this case,

[code]
(Code on cellphone.)

[2020-03-27 20:57] fisker commented on #168
Another suggestion is put it in `config`, and use `$npm_package_config_xxx`.

[2020-04-08 18:11] nemoDreamer opened #172 "Default export has no call signature in types?"
After a long-overdue update from `^1.15.0` to `1.41.0`, I'm getting this when checking my Typescript types with `tsc`:

[code]

I'm importing via `const sortPackageJSON = require('sort-package-json');` and my script itself works fine.

[2020-04-09 16:07] keithamus commented on #172
This might be related to https://github.com/keithamus/sort-package-json/pull/170 /cc @bluelovers

[2020-04-09 16:23] bluelovers commented on #172
![image](https://user-images.githubusercontent.com/167966/78917348-56b1ef80-7ac1-11ea-8530-a58a099e9bfa.png)

didn't see error

[2020-04-12 11:01] ntwb opened #174 "Add https://www.npmjs.com/package/npm-package-json-lint"
Hey, it would be great if support could be added for `npmpackagejsonlint`

As at the time of writing it has `15,959` weekly downloads

Happy to take a shot at a PR if you I can get some basic pointers or a previous PR for reference...

Thanks for your consideration...

[2020-04-14 09:49] keithamus commented on #174
Here's a list of where all of the keys for sorting reside: https://github.com/keithamus/sort-package-json/blob/e77236c73f6dea8b9c36eb6ca42193e300bf34c2/index.js#L169-L271.

You may want to sort the sub-object, which we do for some keys, e.g. https://github.com/keithamus/sort-package-json/blob/e77236c73f6dea8b9c36eb6ca42193e300bf34c2/index.js#L212-L221

[2020-04-17 10:06] #174 closed

[2020-04-17 22:33] fernandopasik opened #180 "Typescript error: Variable declaration expected"
After the release of 1.42.0 I'm getting this typescript error

[code]

[2020-04-20 09:49] keithamus commented on #180
/cc @bluelovers

[2020-04-20 10:28] fernandopasik commented on #180
would this one be fixed by #173 ?

[2020-04-20 12:05] LinusU opened #182 "Sort "keywords" lexicographically"
It would be nice if the items in the `keywords` array could be sorted as well ☺️

[2020-04-20 12:21] fisker commented on #182
See #83

[2020-04-20 14:49] LinusU commented on #182
Hmm, okay I guess 🤷

@keithamus feel free to close this if you don't want this change ☺️

[2020-04-22 10:50] #172 closed

[2020-04-22 14:00] nemoDreamer commented on #172
Sweet, thanks so much! ❤️

[2020-04-22 19:21] nemoDreamer commented on #172
@bluelovers after updating to `1.42.1`, I no longer get the warning in my IDE (VS Code), but get this when running `tsc` Typescript-check:

[code]

[2020-04-30 09:30] dandv commented on #1
Comments should ideally be kept with the line the precede. See [this package.json with build scripts](https://gist.github.com/adamreisnz/9edf1f48e19c104b81f8102a27de0940).

Sorting that way may not be trivial.

[2020-04-30 09:37] keithamus commented on #1
Using comment markers with the same key will break, because we use `JSON.stringify` which removes duplicate key names, you'd have to rework the hack to append a unique string to each comment marker, e.g. `//build`, `//test`. If you did that then we could definitely sort so that they landed on top of their respective functions.

[2020-05-29 16:01] Guria opened #193 "support sorting eslint-formatter-multiple near other eslint related keys"
https://www.npmjs.com/package/eslint-formatter-multiple
Is 181 weekly downloads enough to include this tool support?

[2020-05-29 16:05] fisker commented on #193
The policy says

https://github.com/keithamus/sort-package-json/blob/master/README.md#it-doesnt-sort-x

I think you can send a PR to support it.

[2020-05-30 22:56] fernandopasik commented on #180
This was fixed by #189

[2020-05-30 22:56] #180 closed

[2020-06-18 09:04] splincode opened #195 "Feature: exclude pattern"
[code]

affected node_modules/**/package.json

[code]

sorted only my package.json and packages/**/package.json

[2020-06-18 09:15] fisker commented on #195
How about we ignore them by default? By setting [this](https://github.com/sindresorhus/globby#gitignore) to `true`

[2020-06-18 09:16] splincode commented on #195
Good point

[2020-09-07 07:13] dandv opened #197 "Leave conditional exports alone"
https://nodejs.org/api/esm.html#esm_conditional_exports states

I found that `default` was sorted before `node`.

[2020-09-07 07:46] fisker commented on #197
You can fix it by removing this `over` from [here](https://github.com/keithamus/sort-package-json/blob/093a4ef2403b52c0a260601553623779fcc70f60/index.js#L191)

[2020-09-08 03:27] fregante opened #198 "`maintainers` should immediately follow `author`"
`maintainers` was moved to the bottom of the file. I think they should immediately follow `author` as they're part of the same idea.

https://docs.npmjs.com/configuring-npm/package-json.html#people-fields-author-contributors

The order I think should be:

1. author
2. maintainers
3. contributors

[2020-09-16 11:13] keithamus commented on #198
PRs welcome!

[2020-09-16 16:08] #198 closed

[2020-09-16 16:21] fregante commented on #168
I think if you're going to use it in scripts, place it in scripts.

[code]

[2020-10-19 07:03] Xunnamius commented on #197
Just got bitten by this. This makes it hard to use this package in automated publish workflow. Any plan on a fix?

[2020-10-19 20:44] Xunnamius commented on #197
@keithamus Sent! Not sure if I need to add any unit tests to it, let me know.

I've been using `npx Xunnamius/sort-package-json` without issue for half a day now :)

[2020-10-22 14:58] #197 closed

[2020-10-25 20:29] leaumar opened #205 "Defective under yarn2 with pnp"
My package.json is no longer sorted by prettier with this plugin after upgrading to yarn2 and enabling pnp (neither via IDE plugin nor via independent CLI). Setting `nodeLinker: node-modules` in yarn2 makes the sorting work again. Relevant info for the plugin dev: https://yarnpkg.com/features/pnp

Reproduction steps:
- create a (take any...) basic repo with yarn classic and this plugin
- `yarn set

[2020-10-26 01:28] fisker commented on #205
You must using a prettier plugin, not directly using sort-package-json.
This is a prettier issue, it can't detect plugin in yarn pnp.
You can use `prettier --plugin=YOU_PLUGIN_NAME`, or use `{plugins: [YOU_PLUGIN_NAME]}` in your config.

[2020-10-26 01:33] leaumar commented on #205
Oh right, sorry, I got the repos mixed up. Thanks for the insight though.

--
Marnick "with ck, 2 capitals, and an apostrophe" L'Eau

On Mon, 26 Oct 2020, 02:28 fisker Cheung, <notifications@github.com> wrote:

[2020-10-26 01:34] #205 closed

[2020-11-17 22:27] RebeccaStevens opened #207 "Add sorting support for "typesVersions" field"
This became a feature in TypeScript 3.1 - [Release Notes](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-1.html#version-selection-with-typesversions)

[2020-11-19 10:22] #207 closed

[2021-01-01 10:04] Xunnamius opened #213 "Do not sort over lint-staged key"
[lint-staged allows you to run tasks serially](https://github.com/okonet/lint-staged#command-line-flags), which is useful when you want tasks to be executed in a certain order (like how `prettier` should be called *always after* `remark`). Currently, the `lint-staged` key is sorted, which breaks the ordering of tasks in serial mode.

[Here's a PR](https://github.com/keithamus/sort-package-json/pul

[2021-01-04 12:19] #213 closed

[2021-01-17 02:29] kael89 opened #215 "Add default sort rules documentation"
Thanks for this library, it's very useful! 💯

I believe it would be valuable to add documentation about the default rules used for sorting. For example, I was initially a bit confused by the behaviour described in https://github.com/keithamus/sort-package-json/issues/19. I only realized this was a feature and not a bug after I did some research in this repo and read the code.

I understand that th

[2021-01-18 15:34] keithamus commented on #215
PRs are very much welcome!

[2021-02-02 15:55] eran10 opened #217 "vulnerabilities issue"
https://app.snyk.io/test/npm/sort-package-json/1.48.1

can this be fixed?

[2021-04-21 07:16] Cryptically opened #220 "Script not sorting in 1.49.0"
Pacakge.json scripts prop does not get sorted at all.

e.g remains the same order

[code]

[2021-05-08 18:48] joemaller commented on #220
This change was introduced in 1.49 here: https://github.com/keithamus/sort-package-json/pull/206

It was pretty much a breaking change for us, so we've version-locked to 1.48 like this: `npx sort-package-json@1.48`

I'd really like to see script-sorting return behind a flag, similar to how `--check` was implemented.

[2021-05-12 03:28] G-Rath commented on #220
I'd actually prefer script sorting to be restored to its original behaviour, and then have the opting out as a flag, since the behaviour it was "fixing" is about a specific subset of users (i.e those that implicitly rely on scripts being in a specific order) rather than all users of this tool.

If I understand the original issue, it also shouldn't be hard to solve:

[code]

[2021-07-07 14:34] alumni opened #226 "Doesn't work for `<root>/package.json`"
I have a monorepo created with nx and it seems that the root package.json doesn't get sorted.

For example, running e.g. `sort-package-json {.,apps/*}/{package.json,.eslintrc,.prettierrc}` will work for any of the files (`./.eslintrc` or `apps/xxx/package.json`) except for `./package.json`.

I checked by changing the order of two scripts (e.g. I put `nx` before `lint`). The file is parsed, but the

[2021-08-03 20:13] kachkaev opened #227 "globby v12"
`globby` v12 got released recently:
https://github.com/sindresorhus/globby/releases/tag/v12.0.0

It’s used in [`cli.js`](https://github.com/keithamus/sort-package-json/blob/9b76ec173288da0844b975191955f9ee661c50ec/cli.js#L3) and is therefore [listed as a project dependency in `package.json`](https://github.com/keithamus/sort-package-json/blob/0f1c9565cf58e6a2dd0b462759f19068422f4f5e/package.json#L

[2021-08-03 20:33] fisker commented on #227
https://github.com/keithamus/sort-package-json/pull/187

[2021-08-26 02:46] irfan-maulana-tkp opened #229 "Add `betterScripts` key on the sorting list keys"
[`better-npm-run`](https://www.npmjs.com/package/better-npm-run) will create new key `betterScripts` on package.json.
In the existing version, it's not being sorted.

Can we add this? Or any recommendation to sort this key via CLI?

[2021-08-26 02:47] #229 closed, assigned to nobody

[2021-09-20 06:57] Maxim-Mazurok commented on #220
This doesn't work for me, because I have `prettier-plugin-packagejson` installed, and npx picks up locally installed dependency, reported this npx bug here: https://github.com/npm/cli/issues/3776

So, for me scripts look like this:
[code]
or, combined: `"sort": "npx -y rimraf node_modules && npx -y sort-package-json@1.48 && npm ci"`

[2021-09-22 09:47] keithamus commented on #220
Please do submit a PR if you think this is solvable in a deterministic and non-configurable way that addresses the concerns of folks like @jonathanmorley.

[2021-09-22 10:04] keithamus commented on #227
PRs welcome!

[2021-09-22 10:53] G-Rath commented on #220
@keithamus not sure what pr you're expecting other than a revert: the original sorting was deterministic, and so the "fix" is for the affected users to name their scripts specifically so that the determined order fits with their desired order.

[2021-09-22 18:05] G-Rath commented on #220
I'm happy to do that PR if you wouldn't mind giving me some pointers on a good pattern to use for passing the package json to the script sort method is (currently I'm trying to get it passed into all the functions a la how Array methods pass the whole array as the third argument, but not having a lot of luck).

[2021-09-24 09:16] #220 closed

[2021-09-26 23:28] neodon opened #233 "Add feature for external configuration of sortOrder"
Hello,

Thank you for all the work you've done on this project.  It solves an issue I've had for a long time around making my package.json files consistent, which is especially useful for diffing.

I'd like to propose a feature that will allow me to configure the sort order implicitly via an external config file, versus by using the API to do it explicitly.

I'm also interested in contributing to

[2021-09-27 08:17] keithamus commented on #233
Hi @neodon thanks for the issue.

I'd like to know the motivations use case for adding configuration.

If it's to add new keys, I think we're responsive enough to those changes.

If it's to change the order of a key, this has been changed before and we can discuss that in more detail.

A lot of people who ask for configuration cite the use case that they simply don't like the given order that exis

[2021-09-27 08:18] #233 closed

[2021-09-27 15:17] neodon commented on #233
Thank you for the quick response and the candor.  My goal was to have a custom sort order that I could apply to all of my own projects.  I will take your advice and make a fork for my own use.  I agree it's a much simpler solution, especially given the principles you cited for zero config and keeping this codebase simple.

[2021-10-26 18:20] G-Rath opened #234 "Use same sorting logic for sorting dependencies as npm v7"
NPM v7 changed the way dependencies are sorted very slightly which means this:

[code]

becomes this:

[code]

The specific change they made was to use `localeCompare`, which technically the better way for sorting strings than just calling `sort` but means npm v7 & above sort differently compared to both `sort-package-json` and the other two main package managers.

I opened an issue for discussion

[2021-11-10 16:55] lvoliveira commented on #220
How can I have the scrips sorted even if the `npm-run-all` is in the dependencies? I use `npm-run-all` for other purposes, and I don't care about the order of the scripts, I just want it to be uniquely defined (sorted). Is there any way to disable this behavior?
(Also, I thought this was a bug. This is not how the [scripts sort documentation](https://github.com/keithamus/sort-package-json/blob/HEA

[2021-11-11 00:06] Maxim-Mazurok commented on #220
I believe you can make it a non-dev dependency, or use it via npx.

[2021-11-23 09:27] muuvmuuv opened #237 "Option to ignore scripts or specific pattern"
I am sorting my scripts like below to have it more readable as it's become bigger. Also, npm offers a nice list of all commands which work pretty well together with my comments hack. Unfortunately, when sorting my package.json it destroys the hole order. It would be very cool to have an option to ignore scripts (or any other group) *or* allow specific patterns not be sorted (in that case the hash

[2022-01-09 22:33] vvo opened #238 "[eslint, react] Activate jsx-sort-props rule"
I opened this in the wrong project, closing.

[2022-01-10 08:23] #238 closed

[2022-01-10 20:12] jonahsnider opened #239 "Sort `exports.default` to appear last in`exports`"
The `exports.default` field should be sorted to appear last in the `exports` object.

Node.js documentation says to do this:

Related to #197

---

While testing one of my own npm packages in a fresh Create React App (CRA) project I got the following error from importing the module:

[code]

After briefly investigated I learned it was because my package's `exports` object looked like this:

[code]

[2022-01-11 11:37] keithamus commented on #239
PRs welcome! I think also getting opinions from folks in #197 (@dandv, @Xunnamius) would be useful.

[2022-01-27 18:59] saiichihashimoto opened #242 "Enable sorting for npm-run-all"
I've seen the PRs and reasoning for bailing on script sorting when npm-run-all is involved, but having the behavior drastically change based on the existence of a package is reasonably unexpected and should have been a breaking change, at the least. It makes a lot more sense to have a cli flag for `--disable-script-sorting` rather than making the behavior impossible if I'm using `npm-run-all`, so

[2022-01-31 09:18] keithamus commented on #242
See https://github.com/keithamus/sort-package-json/pull/240 for a potentially better heuristic.

Also see https://github.com/keithamus/sort-package-json/issues/233#issuecomment-927639091 for why I do not wish this project to have any configuration flags.

[2022-02-01 17:37] saiichihashimoto commented on #242
https://github.com/keithamus/sort-package-json/issues/233#issuecomment-927639091 makes tons of sense to me; my qualm was that a semver major breaking change was made without notification or mitigation path, which was frustrating since it wasn't immediately obvious to us.

#240 is still unpredictable behavior. A specific package will disable script sorting, unless you only use it a specific way. Fr

[2022-02-01 18:36] keithamus commented on #242
Yes sort of, except that prettier takes configuration now. Also in my opinion the lack of configuration (and thus determinism) of this project is fundamental to its benefit...

The intent of me making this tool is that I can open a package json and always expect to see (for example) `name` at the top. If people can override that determinism, then this tool is useless to me. Bikeshedding and comple

[2022-02-01 18:51] saiichihashimoto commented on #242
This is where we're going to run into an issue. I want to sort scripts... regardless, ie removing any of the `npm-run-all` specific logic. I'm assuming it's the way it is because that's what you need from it. I'm not sure how to rectify that without config.

[2022-02-01 19:01] keithamus commented on #242
Apologies I wasn't clear. I don't use `npm-run-all`, this doesn't effect me either way. I've "no skin in this game".

Here's the PR which asked for this behaviour: https://github.com/keithamus/sort-package-json/pull/206. Here's an issue which is effectively a duplicate of this one: https://github.com/keithamus/sort-package-json/issues/220. And you've already seen #240 which attempts to appease bot

[2022-02-01 19:52] saiichihashimoto commented on #242
Fair! Sorry for being somewhat aggressive.

It seems like there's only a few options:
1. Keep it the way it is. Con is that its unexpected and arbitrary behavior with no solution for users besides to simply not use `run-s`. Documentation could help with this, but ultimately isn't a solution.
2. Remove the `run-s` disabling of sorting. Con is that the sort order of scripts has an effect on serially

[2022-02-03 07:28] saiichihashimoto commented on #242
I made a PR to do this. Ultimately, since it's reverting the change, it comes down to your decision. I can't think of any solution except the three solutions I outlined so I made a PR for the one I prefer.

[2022-02-03 12:14] keithamus commented on #242
I didn't consider anything you said aggressive. I believe we're having a good faith conversation. The written medium is a lossless one though.

Feels like the answer is "as many as necessary". So far we only know of this one.

Big :+1: here. Perhaps a warning in the console when this behaviour is triggered?

To me it seems as though one option leads to broken behaviour and one option leads to brok

[2022-02-03 16:34] saiichihashimoto commented on #242
In that case, documentation should be added to the README. There's nothing to indicate this will happen.

[2022-02-09 14:32] LorhanSohaky opened #245 "Is there any way to specify sortOrder in CLI or create a configuration file?"

[2022-02-10 12:19] #245 closed

[2022-02-12 01:23] LorhanSohaky commented on #245
Ok, thanks!

[2022-02-24 10:18] AlekhyaYalla opened #246 "[Feature request] Sort only specified sections"
sort only specified sections like "dependencies", "devDependencies" etc instead of all the sections.
It would be more flexible to sort desired sections instead of sorting the whole JSON.

Thanks!

[2022-02-24 13:06] keithamus commented on #246
See https://github.com/keithamus/sort-package-json/blob/master/README.md#i-would-like-this-tool-to-be-configurable-with-a-config-file-or-command-line-arguments

[2022-02-24 13:06] #246 closed

[2022-03-20 14:54] loynoir opened #247 "Please update `globby@10.0.0` to at least 11.0.0"
### Brief
sort-package-json@1.54.0 problem located

using globby@10.0.0
https://github.com/keithamus/sort-package-json/blob/v1.54.0/package.json#L77

### History
globby@10.0.0 has problem "Including @types/glob in dependencies breaks typescript implementations"

https://github.com/sindresorhus/globby/issues/129

Fixed in "Get rid of glob dependency"
https://github.com/sindresorhus/globby/pull/135

[2022-03-26 21:45] saiichihashimoto commented on #242
Nothing to do here as the decision was made, closing.

[2022-03-26 21:45] #242 closed

[2022-04-03 01:59] garrychnca commented on #247
I am facing the exact same problem.

If you can use npm 8 where `overrides` is available and you are not using Lerna, you can add the following in the `package.json`:

[code]

I verified the above works for plain-old typescript project. However, if you are using Lerna, it is working unexpectedly and I submitted an issue to them here: https://github.com/lerna/lerna/issues/3102

[2022-04-03 02:01] garrychnca commented on #247
There is also another work-around if you cannot use npm 8: https://github.com/rogeriochaves/npm-force-resolutions

[2022-04-03 02:32] loynoir commented on #247
@garrychnca

According to https://github.com/pnpm/pnpm/issues/4457

I think, pnpm has fixed all this kind problem forever, **by default**.

[2022-04-03 03:41] fisker opened #254 "Migrate to ES Module?"

[2022-04-04 08:22] keithamus commented on #254
Absolutely, I added a comment in #227 suggesting the same :raised_hands:

[2022-04-04 12:03] fisker commented on #182
I guess this is unexpected for other users, closing.

[2022-04-04 12:03] #182 closed

[2022-04-04 14:30] #227 closed

[2022-04-04 14:30] #247 closed

[2022-05-01 11:21] garth opened #258 "v1.56.0 introduces breaking changes due dependency updates"
It looks like some of the dependencies which had their major versions updated in the v1.56.0 release might have changed their builds to be ESM only.

Had to revert back to 1.55.0 to fix remix-run which depends on this package.

Dependencies in v1.56.0 should probably be reverted to fix the v1 branch and released as v1.57.0. Then the 1.56.0 changes could be re-release as v2?

[2022-05-01 15:27] zuimeidamowang commented on #258
![0zm3z120009fw0o1q4101_W_540_0](https://user-images.githubusercontent.com/72732008/166152842-ef934851-8c5f-4ed1-b312-a96993b535f2.png)
the same error

[2022-05-01 17:09] keithamus commented on #258
Should be fixed in v1.56.1. Thanks all for letting me know!

[2022-05-01 17:09] #258 closed

[2022-06-04 03:57] faustbrian opened #261 "Use natural sorting"
Hey, would you accept a PR to use natural sorting for dependencies? Currently the sorting seems a bit off for packages that end with numbers.

**Actual**
[code]

**Expected**
[code]

[2022-06-04 09:04] keithamus commented on #261
Yep I think that's a great idea!

[2022-06-04 09:50] keithamus commented on #261
I'll leave that up to your good judgment 😜

[2022-06-12 17:56] aminya opened #264 "Putting keywords in the end"
The keywords of a package.json do not affect the code functionality and are only usable for the search engines. People usually use many of them. For this reason, I think keywords should be placed at the end so that the more crucial properties are immediately visible.

[2022-07-02 16:25] jrson83 commented on #237
As an alternative I'm using https://www.npmjs.com/package/vscode-sort-package-json-without-scripts

[2022-07-25 14:11] broksonic21 opened #267 "Sort NPM Overrides"
NPM Added support for overrides: https://docs.npmjs.com/cli/v8/configuring-npm/package-json#overrides

Would be nice if sort-package-json sorted overrides alphabetically automatically as well like it does dependencies and devDependencies

[2022-07-25 14:23] keithamus commented on #267
PRs welcome!

[2022-07-25 14:24] keithamus commented on #48
PRs welcome!

[2022-09-26 18:35] miwashutaro0611 commented on #48
@keithamus
Hi!
I would like to work on this issues, is that OK?

The following modifications are expected.
Is this a problem?

## Sample Projects

[code]

### File Contents

#### package.json

[code]

#### project1/package.json

[code]

#### project2/package.json

[code]

## Result

https://user-images.githubusercontent.com/26462659/192352145-7517cb9c-87cf-40b6-9c34-7085337aa7db.mov

[2022-09-28 11:59] websolutions-hamburg commented on #237
Is there already an update here? Will there be a configuration option for it?

[2022-10-06 17:20] sebaplaza opened #273 "Support for node corepack"
Since node 16, we can use [corepack](https://nodejs.org/api/corepack.html) to define a packageManager into our package.json

We should sort these properties at the beginning of package.json

[code]

[2022-10-07 20:50] keithamus commented on #273
PRs welcome!

[2022-11-14 06:11] tjx666 opened #276 "[Feature Request] Keep the unknown fields their order"
For example:

[code]

When format it, I hope the unknow field `xxx` still is above the `name`.

[2022-11-14 09:58] keithamus commented on #276
PRs welcome!